<p class="text-(--color-text) ml-4">
    <bold class="text-(--color-text)">Games:</bold>
    <br>
    <p class="text-(--color-text) ml-4">
        Here are some gamejam games that are playable in the browser
    </p>
    <br>
    <p class="text-(--color-text) ml-4">
        1. Dieggle: This game is written in C++ using Raylib in 48 hours for the GMTK game jam. It is a relatively simple game but was made to push myself in the time contraints.
        <br>
        <br>
        2. Maze: Display the help message
    </p>
</p>
{% include "components/term-line.html" %}
