<p class="text-(--color-text) ml-4">
  <h1 class="text-(--color-text) ml-4">Here are some gamejam games that are playable in the browser</h1>
  <p class="text-(--color-text) ml-4 whitespace-pre">
USAGE:
    games [game]

<span class="text-(--color-green)">Dieggle</span>:
    <span class="text-(--color-yellow)">GameJam</span>: <a href="https://itch.io/jam/gmtk-jam-2022"><u>GMTK Game Jam 2022</u></a>
    <span class="text-(--color-yellow)">Theme</span>: Roll of the dice
    <span class="text-(--color-yellow)">Time</span>: 48 Hours
    <span class="text-(--color-yellow)">Language</span>: C/C++
    <span class="text-(--color-yellow)">Engine</span>: Raylib
    <span class="text-(--color-yellow)">Code</span>: <a href="https://github.com/Uberlicious/Dieggle"><u>github.com/Uberlicious/Dieggle</u></a>

<span class="text-(--color-green)">DeathWalk</span>:
    <span class="text-(--color-yellow)">GameJam</span>: <a href="https://itch.io/jam/gamedevtv-jam-2022"><u>The GameDev.tv Game Jam 2022</u></a>
    <span class="text-(--color-yellow)">Theme</span>: Death is only the beginning
    <span class="text-(--color-yellow)">Time</span>: 1 Week
    <span class="text-(--color-yellow)">Language</span>: C#
    <span class="text-(--color-yellow)">Engine</span>: Unity
    <span class="text-(--color-yellow)">Code</span>: <a href="https://github.com/Uberlicious/DeathWalk"><u>github.com/Uberlicious/DeathWalk</u></a>

  </p>
</p>
{% include "components/term-line.html" %}
