<p class="text-(--color-text) ml-4">
  <h1 class="text-(--color-text) ml-4">Here are some gamejam games that are playable in the browser</h1>
  <p class="text-(--color-text) ml-4 whitespace-pre">
USAGE:
    games [game]

<span class="text-(--color-green)">Dieggle</span>:
    <span class="text-(--color-yellow)">GameJam</span>: <a class="underline" rel="noopener noreferrer" target="_blank" href="https://itch.io/jam/gmtk-jam-2022">GMTK Game Jam 2022</a>
    <span class="text-(--color-yellow)">Theme</span>: Roll of the dice
    <span class="text-(--color-yellow)">Description</span>: Shoot the blue dot into the green dot,
                 Score points by picking up black dots
    <span class="text-(--color-yellow)">Time</span>: 48 Hours
    <span class="text-(--color-yellow)">Language</span>: C/C++
    <span class="text-(--color-yellow)">Engine</span>: Raylib
    <span class="text-(--color-yellow)">Code</span>: <a class="underline" rel="noopener noreferrer" target="_blank" href="https://github.com/Uberlicious/Dieggle">github.com/Uberlicious/Dieggle</a>

<span class="text-(--color-green)">DeathWalk</span>:
    <span class="text-(--color-yellow)">GameJam</span>: <a class="underline" rel="noopener noreferrer" target="_blank" href="https://itch.io/jam/gamedevtv-jam-2022">The GameDev.tv Game Jam 2022</a>
    <span class="text-(--color-yellow)">Theme</span>: Death is only the beginning
    <span class="text-(--color-yellow)">Description</span>: Make your way out of the castle
    <span class="text-(--color-yellow)">Time</span>: 1 Week
    <span class="text-(--color-yellow)">Language</span>: C#
    <span class="text-(--color-yellow)">Engine</span>: Unity
    <span class="text-(--color-yellow)">Code</span>: <a class="underline" rel="noopener noreferrer" target="_blank" href="https://github.com/Uberlicious/DeathWalk">github.com/Uberlicious/DeathWalk</a>

  </p>
</p>
{% include "components/term-line.html" %}
