<p class="text-(--color-text) ml-4">
    <bold class="text-(--color-text)">COMMANDS:</bold>
    <br>
    <pre class="text-(--color-text) ml-4">
    <span class="text-(--color-green)">help</span>       - Display the help message
    <span class="text-(--color-green)">welcome</span>    - Display the welcome message
    <span class="text-(--color-green)">games</span>      - List of game jam games
    <span class="text-(--color-green)">projects</span>   - GitHub projects
    <span class="text-(--color-green)">history</span>    - Command history
    </pre>
</p>
{% include "components/term-line.html" %}
