<p class="text-(--color-text) ml-4">
  <h1 class="text-(--color-text) ml-4">Public Projects:</h1>
  <p class="text-(--color-text) ml-4 whitespace-pre">
<span class="text-(--color-green)">Terminal Portfolio</span>:
    <span class="text-(--color-yellow)">Description</span>: This terminal portfolio!
    <span class="text-(--color-yellow)">Language</span>: Rust with HTMX and Tailwind
    <span class="text-(--color-yellow)">GitHub</span>: <a href="https://github.com/Uberlicious/Terminal_Portfolio"><u>github.com/Uberlicious/Terminal_Portfolio</u></a>

<span class="text-(--color-green)">UberUI</span>:
    <span class="text-(--color-yellow)">Description</span>: World of Warcraft UI addon, WoW dark mode
    <span class="text-(--color-yellow)">Language</span>: LUA
    <span class="text-(--color-yellow)">GitHub</span>: <a href="https://github.com/Uberlicious/UberUI"><u>github.com/Uberlicious/UberUI</u></a>
    <span class="text-(--color-yellow)">CurseForge</span>: <a href="https://www.curseforge.com/wow/addons/uber-ui"><u>curseforge.com/wow/addons/uber-ui</u></a>

<span class="text-(--color-green)">UberBot</span>:
    <span class="text-(--color-yellow)">Description</span>: Discord Bot for fun
    <span class="text-(--color-yellow)">Language</span>: Python
    <span class="text-(--color-yellow)">GitHub</span>: <a href="https://github.com/Uberlicious/UberBot"><u>github.com/Uberlicious/UberBot</u></a>

  </p>
</p>
{% include "components/term-line.html" %}
