{% extends "layouts/base.html" %}

{% block title %}Hello!{% endblock %}

{% block content %}


<div class="h-screen flex">
  <!-- Scrollable half -->
  <div class="flex-1 flex">
    <!-- Scrollable container -->
    <div class="flex-1 overflow-y-scroll scroll-smooth focus:scroll-auto p-2">
      {% include "components/term-line.html" %}
    </div>
  </div>
  <!-- Fixed half -->
  <div class="w-1/2 p-2 pt-6 justify-items-center content-center h-full border-l-2 border-[--color-user]">
    <!-- Sidebar content -->
      {% include "components/jm_50.html" %}
  </div>
</div>
{% endblock %}
