{% extends "layouts/base.html" %} {% block title %}Hello!{% endblock %} {% block
content %}

<div class="flex h-screen w-full">
  <!-- Scrollable half -->
  <div class="flex w-1/2 flex-1 border-r-2 border-[--color-user]">
    <div
      hx-on:click="
          const commands = document.querySelectorAll('#command:last-of-type');
          if (commands.length > 0) {
              commands[commands.length - 1].focus()
          }
          "
      class="no-scrollbar overla w-1/2 flex-1 shrink-0 scroll-m-0 overflow-y-scroll p-2 pt-6"
    >
      {% include "components/term-line.html" %}
    </div>
  </div>
</div>
<!-- Fixed half -->
<div class="flex w-1/2 flex-1 overflow-hidden max-sm:hidden sm:justify-center">
  <div class="flex">
    <div
      class="@container relative h-full w-1/2 flex-1 content-center justify-items-end p-2 pt-6 max-lg:hidden"
    >
      <!-- <div class="max-2xl:hidden">{% include "components/jm_full.html" %}</div> -->
      <!-- <div class="@max-[480px]:hidden">
        {% include "components/jm_70.html" %}
      </div> -->
      <div class="@max-[340px]:hidden">
        {% include "components/jm_50.html" %}
      </div>
    </div>
    <div class="left-0 flex-1 content-center p-3">
      {% include "components/term-info.html" %}
    </div>
  </div>
</div>
{% endblock %}
