<!-- prettier-ignore -->
{% extends "layouts/base.html" %}

{% block title %}Hello!{% endblock %}

{% block content %}
<div class="flex w-full p-2 flex-col flex-shrink-0">
    {% include "components/term-line.html" %} {% endblock %}
</div>

<!-- <button
  type="button"
  hx-get="/api/welcome"
  hx-swap="innerHtml"
  class="rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
>
  Say hello
</button> -->
