<!doctype html>
<html lang="en" id="root" class="cat">
  <head>
    <link href="/assets/main.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/JM.png" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <!-- htmx from the unpkg CDN -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      (function () {
        const theme = localStorage.getItem('theme') || 'cat';
        document.documentElement.className = theme;
      })();
    </script>
    {% block head %}{% endblock %}
  </head>
  <body class="overflow-y-clip bg-(--color-bg) font-mono">
    {% if modal %} {% include "components/modal.html" %} {% endif %}
    <div class="flex h-screen flex-col">
      {% include "components/toolbar.html" %}
      <div id="content" class="flex-1 overflow-hidden">
        {% block content %}{% endblock %}
      </div>
    </div>

    <script>
      (function () {
        const theme = localStorage.getItem('theme') || 'cat';
        const select = document.getElementById('theme-select');
        if (select) {
          select.value = theme;
        }
      })();
    </script>
  </body>
</html>
