<pre class="text-[--color-text]">
            gggg_             _gggg   <span class='text-[--color-green]'>guest@terminal-portfolio</span>
            @@@@@@_         _@@@@@g   ------------------------
            @@@@@@@g      _@@@@@@@g   <span class='text-[--color-yellow]'>Host</span>: Jevan Meader
            @@@@4@@@@L   g@@@@M@@@g   <span class='text-[--color-yellow]'>Role</span>: Full-Stack Developer
            @@@@<span class='text-[--color-path]'>[_</span>Q@@@@p@@@@P |@@@g
            @@@@<span class='text-[--color-path]'>[@@_</span>@@@@@@B   |@@@g
            @@@@<span class='text-[--color-path]'>[@@@!</span>"@@@'    |@@@g
            @@@@<span class='text-[--color-path]'>[@@@|</span>  "      |@@@g
            @@@@<span class='text-[--color-path]'>[@@@|</span>         |@@@g
<span class='text-[--color-path]'>"@@@</span>        @@@@<span class='text-[--color-path]'>[@@@|</span>         |@@@g
<span class='text-[--color-path]'>[@@@ggggggggggggg@@@'</span>
 <span class='text-[--color-path]'>Q@@@@@@@@@@@@@@@@@P</span>
   <span class='text-[--color-path]'>`"""""""""""""</span>
</pre>
