<pre class="text-(--color-text)">
            gggg_             _gggg
            @@@@@@_         _@@@@@g
            @@@@@@@g      _@@@@@@@g
            @@@@4@@@@L   g@@@@M@@@g
            @@@@<span class='text-(--color-path)'>[_</span>Q@@@@p@@@@P |@@@g
            @@@@<span class='text-(--color-path)'>[@@_</span>@@@@@@B   |@@@g
            @@@@<span class='text-(--color-path)'>[@@@!</span>"@@@'    |@@@g
            @@@@<span class='text-(--color-path)'>[@@@|</span>  "      |@@@g
            @@@@<span class='text-(--color-path)'>[@@@|</span>         |@@@g
<span class='text-(--color-path)'>"@@@</span>        @@@@<span class='text-(--color-path)'>[@@@|</span>         |@@@g
<span class='text-(--color-path)'>[@@@ggggggggggggg@@@'</span>
 <span class='text-(--color-path)'>Q@@@@@@@@@@@@@@@@@P</span>
   <span class='text-(--color-path)'>`"""""""""""""</span>
</pre>
