<pre class="text-(--color-text) right-0">
                  @@@@@@@_                ,@@@@@@@
                  @@@@@@@@@,             g@@@@@@@@
                  @@@@@@@@@@b          _@@@@@@@@@@
                  @@@@@@@@@@@@L      _@@@@@@@@@@@@
                  @@@@@@"@@@@@@@_   @@@@@@@F@@@@@@
                  @@@@@@<span class='text-(--color-path)'>[b</span>T@@@@@@go@@@@@@P  @@@@@@
                  @@@@@@<span class='text-(--color-path)'>[@@_</span>Q@@@@@@@@@@@    @@@@@@
                  @@@@@@<span class='text-(--color-path)'>[@@@@_</span>@@@@@@@@"     @@@@@@
                  @@@@@@<span class='text-(--color-path)'>[@@@@@</span> "@@@@P       @@@@@@
                  @@@@@@<span class='text-(--color-path)'>[@@@@@</span>   %D         @@@@@@
                  @@@@@@<span class='text-(--color-path)'>[@@@@@</span>              @@@@@@
                  @@@@@@<span class='text-(--color-path)'>[@@@@@</span>              @@@@@@
  <span class='text-(--color-path)'>@@@@@j</span>          @@@@@@<span class='text-(--color-path)'>[@@@@@</span>              @@@@@@
  <span class='text-(--color-path)'>@@@@@]__________</span>BBBBBB<span class='text-(--color-path)'>[@@@@@</span>              BBBBBB
  <span class='text-(--color-path)'>@@@@@@@@@@@@@@@@@@@@@@@@@@@@</span>
  <span class='text-(--color-path)'>`@@@@@@@@@@@@@@@@@@@@@@@@@@</span>
     <span class='text-(--color-path)'><\=BBBBBBBBBBBBBBBBBB="</span>
</pre>
