<pre >
<span class="text-(--color-text)">                          ggggggggg_                          _ggggggggg
                          [@@@@@@@@@@_                       @@@@@@@@@@@
                          [@@@@@@@@@@@g                    _@@@@@@@@@@@@
                          [@@@@@@@@@@@@@b                _@@@@@@@@@@@@@@
                          [@@@@@@@@@@@@@@@_            ,@@@@@@@@@@@@@@@@
                          [@@@@@@@@@@@@@@@@@_         o@@@@@@@@@@@@@@@@@
                          [@@@@@@@@@@@@@@@@@@g      _@@@@@@@@@@@@@@@@@@@
                          [@@@@@@@@</span><span class="text-(--color-path)">g</span><span class="text-(--color-text)">"@@@@@@@@@@L  _@@@@@@@@@@P [@@@@@@@@
                          [@@@@@@@@</span><span class="text-(--color-path)">@@a</span><span class="text-(--color-text)">t@@@@@@@@@@g@@@@@@@@@@   [@@@@@@@@
                          [@@@@@@@@</span><span class="text-(--color-path)">@@@@_</span><span class="text-(--color-text)">@@@@@@@@@@@@@@@@@@"    [@@@@@@@@
                          [@@@@@@@@</span><span class="text-(--color-path)">@@@@@@</span><span class="text-(--color-text)">'@@@@@@@@@@@@@@P      [@@@@@@@@
                          [@@@@@@@@</span><span class="text-(--color-path)">@@@@@@@g</span><span class="text-(--color-text)">"@@@@@@@@@@W        [@@@@@@@@
                          [@@@@@@@@</span><span class="text-(--color-path)">@@@@@@@@] </span><span class="text-(--color-text)">%@@@@@@@'         [@@@@@@@@
                          [@@@@@@@@</span><span class="text-(--color-path)">@@@@@@@@]  </span><span class="text-(--color-text)">`@@@@F           [@@@@@@@@
                          [@@@@@@@@</span><span class="text-(--color-path)">@@@@@@@@]    </span><span class="text-(--color-text)">"P             [@@@@@@@@
                          [@@@@@@@@</span><span class="text-(--color-path)">@@@@@@@@]                   </span><span class="text-(--color-text)">[@@@@@@@@
                          [@@@@@@@@</span><span class="text-(--color-path)">@@@@@@@@]                   </span><span class="text-(--color-text)">[@@@@@@@@
                          [@@@@@@@@</span><span class="text-(--color-path)">@@@@@@@@]                   </span><span class="text-(--color-text)">[@@@@@@@@
   </span><span class="text-(--color-path)">@@@@@@@@               </span><span class="text-(--color-text)">[@@@@@@@@</span><span class="text-(--color-path)">@@@@@@@@]                   </span><span class="text-(--color-text)">[@@@@@@@@
   </span><span class="text-(--color-path)">@@@@@@@@               </span><span class="text-(--color-text)">[@@@@@@@@</span><span class="text-(--color-path)">@@@@@@@@]                   </span><span class="text-(--color-text)">[@@@@@@@@
   </span><span class="text-(--color-path)">@@@@@@@@@@@@@@@@@@@@@@@ggggggggg@@@@@@@@|
   9@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    t@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
      %@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@"
          '"""""""""""""""""""""""""
</span>
</pre>
