<div class="whitespace-pre text-(--color-text)" >
                    @@@@@@@@@@                  @@@@@@@@@@@
                    @@@@@@@@@@@                @@@@@@@@@@@@
                    @@@@@@@@@@@@@            @@@@@@@@@@@@@@
                    @@@@@@@@@@@@@@          @@@@@@@@@@@@@@@
                    @@@@@@@@@@@@@@@@      @@@@@@@@@@@@@@@@@
                    @@@@@@@@@@@@@@@@@@   @@@@@@@@@@@@@@@@@@
                    @@@@@@@@<span class='text-(--color-path)'>;+</span>@@@@@@@@@@@@@@@@@@@  @@@@@@@@
                    @@@@@@@@<span class='text-(--color-path)'>:::</span>@@@@@@@@@@@@@@@@@   @@@@@@@@
                    @@@@@@@@<span class='text-(--color-path)'>::::+</span>@@@@@@@@@@@@@     @@@@@@@@
                    @@@@@@@@<span class='text-(--color-path)'>:::::-</span>@@@@@@@@@@       @@@@@@@@
                    @@@@@@@@<span class='text-(--color-path)'>:::::-</span>@@@@@@@@@        @@@@@@@@
                    @@@@@@@@<span class='text-(--color-path)'>:::::-</span>@@ @@@@@         @@@@@@@@
                    @@@@@@@@<span class='text-(--color-path)'>:::::-</span>@@  @@           @@@@@@@@
                    @@@@@@@@<span class='text-(--color-path)'>:::::-</span>@@               @@@@@@@@
                    @@@@@@@@<span class='text-(--color-path)'>:::::-</span>@@               @@@@@@@@
@@@@@@@@@           @@@@@@@@<span class='text-(--color-path)'>:::::-</span>@@               @@@@@@@@
@<span class='text-(--color-path)'>+::::=</span>@@           @@@@@@@@<span class='text-(--color-path)'>:::::-</span>@@               @@@@@@@@
@<span class='text-(--color-path)'>+::::-</span>@@@@@@@@@@@@@@@@@@@@@<span class='text-(--color-path)'>:::::-</span>@@               @@@@@@@@
@<span class='text-(--color-path)'>*::::::-------------------::::::*</span>@@
@@<span class='text-(--color-path)'>#:::::::::::::::::::::::::::::=</span>@@
  @@<span class='text-(--color-path)'>#:::::::::::::::::::::::::::#</span>@@
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@
</div>
