<pre class="text-(--color-text)">
  <span class="text-(--color-green)">guest@terminal-portfolio</span>
  ------------------------
  <span class="text-(--color-yellow)">Host</span>: Jevan Meader
  <span class="text-(--color-yellow)">Role</span>: Full-Stack Developer
  <span class="text-(--color-yellow)">Github</span>: <a class="underline" rel="noopener noreferrer" target="_blank" href="https://github.com/Uberlicious">github.com/Uberlicious</a>
  <span class="text-(--color-yellow)">Linkedin</span>: <a class="underline" rel="noopener noreferrer" target="_blank" href="https://github.com/Uberlicious">linkedin.com/in/jevan-meader</a>
  <span class="text-(--color-yellow)">Email</span>: <a class="underline" rel="noopener noreferrer" target="_blank" href="mailto:jevan@meader.dev">jevan@meader.dev</a>
  <span class="text-(--color-yellow)">Languages</span>: Go, Rust, C/C++, LUA, TS/JS
  <span class="text-(--color-yellow)">Term Stack</span>: Rust, Askama, HTMX, Tailwind
</pre>
