<pre class="text-(--color-text)">
  <span class="text-(--color-green)">guest@terminal-portfolio</span>
  ------------------------
  <span class="text-(--color-yellow)">Host</span>: Jevan Meader
  <span class="text-(--color-yellow)">Role</span>: Full-Stack Developer
  <span class="text-(--color-yellow)">Github</span>: <a href="https://github.com/Uberlicious"><u>github.com/Uberlicious</u></a>
  <span class="text-(--color-yellow)">Linkedin</span>: <a href="https://github.com/Uberlicious"
    ><u>linkedin.com/in/jevan-meader</u></a>
  <span class="text-(--color-yellow)">Languages</span>: Go, Rust, C/C++, LUA, TS/JS
  <span class="text-(--color-yellow)">Term Stack</span>: Rust, Askama, HTMX, Tailwind
</pre>
